/*

# folders
!/gradle
!/src
!/.github

# files
!/.gitignore
!/README.md
!/CONTRIBUTION.md
!/License.md
!/build.gradle
!/gradlew
!/gradlew.bat
!/gradle.properties
!/dependencies.gradle
!/repositories.gradle
!/settings.gradle
!/jitpack.yml
!/update.json
!/CHANGELOG.md
!/EclipseCodeStyle.xml
!/IntelliJIdeaCodeStyle.xml